<ion-content>
  <form #form="ngForm" (ngSubmit)="loginUser(form.form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col size-md="2" size-lg="4" size-xs="0"></ion-col>
        <ion-col align-self-center>
          <div text-center>
            <h3>Log In</h3>
          </div>
          <ion-item>
            <ion-input name="name" type="text" placeholder="Name" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
          </ion-item>
          <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Log In</ion-button>
        </ion-col>
        <ion-col size-md="2" size-lg="4" size-xs="0"></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

